.kidCard {
  margin-left: 6vh
}

.kidCardTitle {
  padding-bottom: 2vh;
  text-align: center;
}

.meetKidsTitle {
  margin-left: 10vh;
  margin-bottom: 2vh;
}

@media only screen and (min-width: 1000px) {

  .grid-container {
    display: grid
  }

}

.editProfileBtns {
  margin-left: 7vh;
}

.cancelKidBtn {
  padding-top: 1vh;
  margin-left: 1vh;
}